In [1]:
from utils.preprocessing import WordEmbedding, load_word_emb
import os
import pandas as pd
import numpy as np
import torch
from torch.utils.data import Dataset
from tqdm import tqdm

import warnings
warnings.filterwarnings("ignore")

from utils.datasets import SchemaMatchingDataset

In [2]:
schema_matches = pd.read_csv('data/training/schema_matching_raw_1toN.txt')
schema_matches['input_cols'] = schema_matches['input_cols'].apply(lambda x: x.split('<|>'))
schema_matches['target_cols'] = schema_matches['target_cols'].apply(lambda x: x.split('<|>'))

In [3]:
schema_matches.head()

,source_col,input_cols,target_cols
0,Year Ended,"[Year, Champion, Score, Runner-up, Coach]",[Year]
1,% Of the population (Censo 2010),"[Contestant, Starting Weight (kg), Final Weigh...",[Position (out of Eliminated Contestants)]
2,Example name,"[Name, Country, Status, Transfer window, Trans...",[Name]
3,Area (km 2 .),"[Rank, Islands Name, Area (sqmi), Area (km 2 )...",[Area (sqmi)]
4,Year Ended,"[Year, Event, Venue, Driver, Result]",[Year]

In [ ]:
dataset = SchemaMatchingDataset(schema_matches)

 45%|███████████████████████████████████▏                                          | 2136/4731 [23:41<20:44,  2.09it/s]

In [ ]:
dataset.save('data/training')