benutzt, um Verhältnis von Datenmenge gleichmäßig zu verteilen!

In [1]:
import pandas as pd
table_schemata = pd.read_csv(r'C:\Users\johan\Development\VLDB\pointer_sort\data\training\schema_matching_raw_1toN.txt')
table_schemata['category'] = ''
table_schemata.head()

,source_col,input_cols,target_cols,category
0,Year End,Year<|>Manufacturer<|>Start<|>Finish<|>Team,Year,
1,% Won,Tournament<|>2000<|>2001<|>2002<|>2005<|>2006<...,Win %,
2,CITY TOWN,Years<|>Building<|>City<|>Height<|>Storeys,City,
3,Dialcode,Auckland<|>Gold Coast<|>Sydney<|>Melbourne<|>A...,<NONE>,
4,Max. height (ft),Rank<|>Building [A ]<|>City<|>Country<|>Height...,Height (m),

In [2]:
len(table_schemata)

22414

In [3]:
table_schemata['category'].loc[table_schemata['target_cols'].str.contains('<NONE>')] = '1to0'
for idx, row in table_schemata.iterrows():
    target_cols, category = row[['target_cols', 'category']]
    if not category:
        if len(target_cols.split('<|>')) > 1:
            row['category'] = '1toN'
        else:
            row['category'] = '1to1'
    table_schemata.loc[idx] = row

In [4]:
len_1to1 = len(table_schemata.loc[table_schemata['category'] == '1to1'])
len_1to0 = len(table_schemata.loc[table_schemata['category'] == '1to0'])
len_1toN = len(table_schemata.loc[table_schemata['category'] == '1toN'])
len_1to1, len_1to0, len_1toN

(12287, 7471, 2656)

In [5]:
table_schemata.loc[table_schemata['category'] == '1toN']

,source_col,input_cols,target_cols,category
5,C (nF km),Frequency (Hz)<|>R (Ω/km)<|>L (mH/km)<|>G (μS/...,C (nF/km)<|>G (μS/km)<|>Frequency (Hz)<|>L (mH...,1toN
11,1931,1935<|>1936<|>1937<|>1938<|>1939<|>1940<|>1941...,1935<|>1936<|>1937<|>1953<|>1938<|>1939<|>1945...,1toN
13,Series Ep #,Series #<|>Season #<|>Title<|>Directed by<|>Wr...,Series #<|>Prod. code,1toN
17,Date of Death,Date<|>Player<|>Injury<|>Date of injury<|>Numb...,Date of injury<|>Source,1toN
18,Series Ep #,Season #<|>Series #<|>Episode title<|>Original...,Series #<|>Nick prod. #<|>Original air date<|>...,1toN
...,...,...,...,...
22343,Year End,Year<|>January<|>February<|>March<|>April<|>Ju...,Year<|>January<|>November<|>September<|>Octobe...,1toN
22365,U.S. (2013),No. in series<|>No. in season<|>Title<|>Direct...,U.S. Viewers (millions)<|>No. in series,1toN
22378,Season episode,Episode<|>First broadcast<|>Andrew and Georgie...,Episode<|>First broadcast,1toN
22384,15–19 years,Year (Ceremony)<|>Original title<|>English tit...,Year (Ceremony)<|>Original title,1toN
22406,Reader's Vote,Name (English)<|>Name (German)<|>Abbr.<|>Ideol...,Votes (2011)<|>Name (English)<|>Name (German)<...,1toN

In [6]:
reduced_df = pd.concat([table_schemata.loc[table_schemata['category'] == '1to1'][:3000],
                       table_schemata.loc[table_schemata['category'] == '1to0'][:4000],
                       table_schemata.loc[table_schemata['category'] == '1toN']])
reduced_df = reduced_df[['source_col', 'input_cols', 'target_cols']]
reduced_df = reduced_df.sample(frac=1).reset_index(drop=True)
reduced_df.to_csv(r'C:\Users\johan\Development\VLDB\pointer_sort\data\training\schema_matching_raw_1toN_pruned.txt', index=False)