In [1]:
import pandas as pd
table_schemata = pd.read_csv(r'C:\Users\johan\Development\VLDB\pointer_sort\data\training\schema_matching_raw_1toN.txt')
table_schemata['category'] = ''
table_schemata.head()

,Unnamed: 0,source_col,input_cols,target_cols,category
0,0,Year Ended,Year<|>Champion<|>Score<|>Runner-up<|>Coach,Year,
1,1,% Of the population (Censo 2010),Contestant<|>Starting Weight (kg)<|>Final Weig...,Position (out of Eliminated Contestants),
2,3,Example name,Name<|>Country<|>Status<|>Transfer window<|>Tr...,Name,
3,6,Area (km 2 .),Rank<|>Islands Name<|>Area (sqmi)<|>Area (km 2...,Area (sqmi),
4,7,Year Ended,Year<|>Event<|>Venue<|>Driver<|>Result,Year,

In [2]:
table_schemata['category'].loc[table_schemata['target_cols'].str.contains('<NONE>')] = '1to0'
for idx, row in table_schemata.iterrows():
    target_cols, category = row[['target_cols', 'category']]
    if not category:
        if len(target_cols.split('<|>')) > 1:
            row['category'] = '1toN'
        else:
            row['category'] = '1to1'
    table_schemata.loc[idx] = row

C:\Users\johan\AppData\Local\Continuum\anaconda3\envs\pointer_sort\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [3]:
len_1to1 = len(table_schemata.loc[table_schemata['category'] == '1to1'])
len_1to0 = len(table_schemata.loc[table_schemata['category'] == '1to0'])
len_1toN = len(table_schemata.loc[table_schemata['category'] == '1toN'])
len_1to1, len_1to0, len_1toN

(2000, 1574, 1157)

In [5]:
reduced_df = pd.concat([table_schemata.loc[table_schemata['category'] == '1to1'][:2000],
                       table_schemata.loc[table_schemata['category'] == '1to0'],
                       table_schemata.loc[table_schemata['category'] == '1toN']])
reduced_df = reduced_df[['source_col', 'input_cols', 'target_cols']]
reduced_df.to_csv(r'C:\Users\johan\Development\VLDB\pointer_sort\data\training\schema_matching_raw_1toN.txt', index=False)